certifi==2020.6.20
charset-normalizer==2.0.12
colorama==0.4.4
cycler==0.10.0
docopt==0.6.2
idna==3.3
kiwisolver==1.2.0
matplotlib==3.3.2
numpy==1.19.2
pandas==1.1.2
Pillow==7.2.0
pipreqs==0.4.11
psutil==5.9.0
pycryptodomex==3.10.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.27.1
scipy==1.5.2
seaborn==0.11.0
six==1.15.0
tqdm==4.62.3
urllib3==1.26.8
yara==1.7.7
yarg==0.1.9
